.footer-list {
  background-color: black;
  color: white;
  padding: 3rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 3rem;
  font-family: "D-DIN";
  font-size: 12px;
  text-transform: uppercase;
}

.footer-item {
  text-decoration: none;
  color: white;
}

.footer-item-copyright {
  color: gray;
}
