.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2rem;
}

.navbar a {
  letter-spacing: 1px;
  font-family: "D-DIN";
  text-decoration: none;
  color: white;
  position: relative;
}

.navbar-logo {
  height: 2em;
  color: white;
}

.navbar-links,
.navbar-links-right {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 1em;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}

.navbar-logo-item {
  margin-right: 1rem;
}

.navbar-link-item,
.navbar-link-right-item {
  padding-top: 10px;
}

.navbar-link-item a::after,
.navbar-link-right-item a::after {
  position: absolute;
  background: white;
  bottom: -2px;
  content: "";
  right: 0;
  height: 1px;
  background: white;
  transition: width 0.2s;
  width: 0;
}

.navbar-link-item a:hover::after,
.navbar-link-right-item a:hover::after {
  left: 0;
  width: 100%;
}

.burger {
  all: unset;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 12px;
  width: 1.1rem;
  padding: 0;
  margin: 0;
}

.line {
  background: white;
  height: 2px;
  width: 100%;
}
